<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Allenh">
    <title>{% block title %}{% endblock %}- Admin Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/metisMenu.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sb-admin-2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    {% endblock %}
</head>

<body>
    <div id="wrapper">

        <div id="page-wrapper">
            {% with messages = get_flashed_messages() %} {% if messages %}
            <div class="container">>
                <ul class="flashes">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %} {% endwith %} {% block content %} {% endblock %}
        </div>
    </div>
    {% block js %}
    <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/metisMenu.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/sb-admin-2.js')}}"></script>
    {% endblock %}
</body>

</html>
