<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>
<!--    <script src="../assets/js/echarts/echarts.all.js"></script>-->
      <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts-all-3.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../assets/css/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script src="../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">舆情分析</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
          </ul>
          <form class="navbar-form navbar-right">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">概览 <span class="sr-only">(current)</span></a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 class="sub-header">书籍评分</h2>
            <div id="echarts_post" style="width:500px;height:400px;"></div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
<!--                  <th>Id</th>-->
                  <th>新闻评论数</th>
                  <th>新闻标题</th>
                  <th>新闻链接</th>
                  <th>新闻发布时间</th>
                </tr>
              </thead>
              <tbody>
              {% for short in shorts %}
                <tr>
                  <td>{{ short[1] }}</td>
                  <td>{{ short[0] }}</td>
                  <td>{{ short[2] }}</td>
                  <td>{{ short[3] }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../assets/dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="../assets/js/ie10-viewport-bug-workaround.js"></script>

<script type="text/javascript">
$(function(){
	postChart();
});
//学员职务统计图
function postChart(){
	//这个echarts对象应该是在echarts-all.js文件里面初始化好的，所以直接拿来用，
	var myChart = echarts.init(document.getElementById('echarts_post'));
	var option = {
	    title : {
	        text: '新闻日统计',
	    },
	    tooltip : {
	        trigger: 'axis'
	    },
	    legend: {
	        data:["科员","副科级"]
	    },

	    calculable : true,
	    xAxis : [
	        {
	            type : 'category',
	            data : {{ today_time }},
	        }
	    ],
	    yAxis : [
	        {
	            type : 'value',
                max: 10000,
                min: 0,
                splitNumber : 10
	        }
	    ],
	    series : [
	        {
	            name:'评论数',
	            type:'bar',
	            data:{{ today_comment_count }},
	        },

	    ]
	};
	myChart.setOption(option);
}
  </script>
  </body>
</html>
