<!DOCTYPE html>
<html lang="zh">
  <head>
    {% include "base_head.html" %}
  </head>

  <body class="login">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form  action="/register"  method="POST">
              {{form.csrf_token}}

              <h1>成为注册用户吧！</h1>
              <div>
                <!-- <input type="text" class="form-control" placeholder="Username" required="" /> -->
                {{form.username(class="form-control", placeholder="用户名...")}}
                {% for message in form.username.errors %}
                    {{ message }}
                  {% endfor %}
              </div>
              <div>
                <!-- <input type="password" class="form-control" placeholder="Password" required="" /> -->
                {{form.password(class="form-control", placeholder="密码...")}}

              </div>
              <div>
                <!-- <input type="password" class="form-control" placeholder="Password" required="" /> -->
                {{form.reppassword(class="form-control", placeholder="确认密码...")}}
                {% for message in form.password.errors %}
                    {{ message }}
                  {% endfor %}

                  {% for msg in get_flashed_messages() %}
                  <div>{{ msg }} </div>
                  {% endfor %}
              </div>
              <div>
                <!-- <a class="btn btn-default submit" href="index.html">Log in</a> -->
                <input type="submit" value="注册" class="btn btn-default submit">
                <a class="reset_pass" href="#">Lost your password?</a>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">有账号?
                  <a href="{{ url_for('home.login') }}" class="to_register"> 去登录 </a>
                </p>

                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                  <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                </div>
              </div>
            </form>
          </section>
        </div>

        <div id="register" class="animate form registration_form">
          <section class="login_content">
            <form>
              <h1>Create Account</h1>
              <div>
                <input type="text" class="form-control" placeholder="Username" required="" />
              </div>
              <div>
                <input type="email" class="form-control" placeholder="Email" required="" />
              </div>
              <div>
                <input type="password" class="form-control" placeholder="Password" required="" />
              </div>
              <div>
                <a class="btn btn-default submit" href="index.html">Submit</a>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">Already a member ?
                  <a href="#signin" class="to_register"> Log in </a>
                </p>

                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                  <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
  </body>
</html>
