/* tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
} */

.my_dataTables_filter {
    float: right;
}

.search_space{
    height:34px;
    position: relative;
    top:2px;
    left:4px;
}

.search_button{
    width: 80px;
    height: 34px;
    color: #fff;
    /*font-size:20%;*/
    letter-spacing: 1px;
    background: #65CEA7;
    border-bottom: 2px solid #65CEA7;
    /*background: #3385ff;*/
    /*border-bottom: 2px solid #2d78f4;*/
    outline: medium;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

.search_type{
    height:34px;
    position: relative;
    top:2px;
    left:4px;
}