{% extends "home/base_layout.html" %} {% block title %}Welcome{% endblock %} 
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/timeline.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/morris.css') }}">
{% endblock %} 
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">图表数据</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<!-- /.row -->
<div class="row">
    <div class="col-lg-12">

        <!-- /.panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> 数据爬取量柱状图
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                    </div>
                    <!-- /.col-lg-4 (nested) -->

                </div>
                <!-- /.row -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->

    </div>
    <!-- /.col-lg-8 -->
    
</div>
<!-- /.row -->{% endblock %}


