{% extends "home/base_layout.html" %} {% block title %}Welcome{% endblock %} 
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/timeline.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/morris.css') }}">
{% endblock %} 
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">美再砸60亿美元对抗中国：关岛和夏威夷基地都要强化</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="article" id='article'>
    

            <p>　　据美国防务新闻网站4月16日报道，为了对抗中国，美国国会今年想要再花60亿美元资金。</p>
            <p>　　《防务新闻》获悉，众议院武装委员会级别最高的共和党人将发布一项提议，正式成立一个新的基金来对抗中国在太平洋的行动。</p>
            <div class="img_wrapper"><img src="//n.sinaimg.cn/mil/crawl/114/w550h364/20200421/b1ce-isqivxf6264030.png" alt=""><span class="img_descr"></span></div>
            <p>　　[美军经常在印度太平洋地区举行演习]</p>
            <p>　　得克萨斯州众议员马克桑伯利（Mac Thornberry）呼吁成立印度太平洋防卫倡议（IPDI），在2021财年投资60.9亿美元。该基金将基于特殊的国防部基金-旨在威慑接收克里米亚后的俄罗斯的“欧洲防卫倡议”项目。</p>
            <p>　　多年来，国会议员一直在质疑太平洋地区是否需要某种形式的EDI（增强防卫倡议）。而《2020财年国防授权法》已经采取了行动，第1253节中的措辞要求印太司令部在今年3月中旬之前提交一份报告，详细说明这个战区司令部为实现《国防战略》和保持对中国的优势所需要的内容。支持者希望该清单将提供需求的核心内容。</p>
            <p>　　正如《防务新闻》 4月2日报道的那样，印太司令部负责人菲尔·戴维森（Phil Davidson）带着200亿美元的愿望清单重返国会，这份愿望清单涵盖了21-26财年，其中21亿美元是专门为21财年提出的。</p>
            <div class="img_wrapper"><img src="//n.sinaimg.cn/mil/crawl/26/w550h276/20200421/f423-isqivxf6264108.png" alt=""><span class="img_descr"></span></div>
            <p>　　[美国位于关岛的空军基地]</p>
            <p>　　桑伯利对21财年的要求明显高于戴维森的要求，但是有国会议员补充说，桑伯利将于明年1月退休，现实是整个60亿美元的需求不太可能在即将到来的预算之战中获得通过。该国会议员说，他们的目标是通过创建IDPI账户来获得一些收益，并希望它可以向前发展。</p>
            <p>　　在这方面，桑伯利可能至少会得到两党的支持。众议院军事委员会主席，众议员亚当·史密斯（Adam Smith）在3月24日给戴维森的信中表示，他打算“在2021财年国防授权法中为印度太平洋安全保证计划寻找资金”。</p>
            <div class="img_wrapper"><img src="//n.sinaimg.cn/mil/crawl/54/w550h304/20200421/0a03-isqivxf6264203.png" alt=""><span class="img_descr"></span></div>
            <p>　　[美国位于关岛的海军基地]</p>
            <p>　　虽然2153节的报告帮助桑伯利提出了要求，但该国会议员表示，到报告提交之时，国会议员的提议已经在进行之中。但是，该报告的影响力可以从桑伯利的计划如何分为五个类别（与戴维森提出的计划类似）以及许多交叉请求中看出。</p>
            <p>　　增加存在感和联合部队杀伤力提高（10亿美元）：桑伯利提案将批准建设“关岛上永久性的陆基防空和反导综合防御系统和相关武器交付系统”的资金，戴维森在第1253节报告中将其描述为：最高优先事项，在六年期间将花费16.7亿美元。</p>
            <p>　　此外，桑伯利的提案将为夏威夷的国土防御雷达提供资金，这是戴维森的另一个重要需求。增加用于该地区情报，监视和侦察能力的资金；维持该区域的轮换能力，包括轮换轰炸机的存在；在海底作战能力上投入更多的资金，并“开发远程精确射击系统，并计划在整个印度太平洋地区部署该系统。”</p>
            <p>　　预置装备和后勤（15亿美元）：戴维森在其第1253条报告中写道，需要新的预置装备策略。沿着这些思路，桑伯利提案将授权拨款建设：“基于区域突发事件建立群集定位套件；船舶预定位和浪涌能力；弹药库存和储存；一个移动协调中心以便协调航空和船舶运输；以及预定的部队。”</p>
            <p>　　改进的基础设施（21亿美元）：桑伯利希望这笔资金用于军事建设和土地收购，以及用于支持“印度太平洋战区紧急状态需求的规划和设计”的资金。</p>
            <p>　　提高盟友和合作伙伴能力（3.5亿美元）：桑伯利希望提高该地区盟友和合作伙伴的整体能力，包括一项新计划，以“与盟友和合作伙伴实现通信架构和系统的现代化；围绕反恐努力建立更多的多边伙伴关系；增加与该地区国家的“国民警卫队国家合作计划”；资助安全合作工作，包括“印度太平洋海事安全倡议”；并为太平洋伙伴关系计划提供资金，该计划是“每年在印度太平洋地区进行的多边人道主义和平民援助及救灾准备任务”。</p>
            <p>　　培训和演习（10亿美元）：这笔资金将增加印太司令部及其盟友和合作伙伴之间的联合培训和演习，包括联合师级和军种级培训和演习计划的资金。</p>
            <!-- 被领导要求，军事深度栏目57920，pc需要加上免责申明，wap，app不需要  hoho-->
                
            
                
            
            </div>
        <!-- <img src="{{ url_for('static', filename='images/indexback.jpg')}}" alt="图片"> -->
        <style>
            img {
                max-width: 100%;
                max-height: 100%;
            }
        </style>
    </div>
    <!-- /.col-lg-8 -->
    
</div>
<!-- /.row -->{% endblock %}


<!-- /.row -->
