{% extends "home/base_layout.html" %} {% block title %}Welcome{% endblock %} 
{% block head %}
    {{ super() }}
    <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>

{% endblock %} 
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">情感倾向分析</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <!-- /.panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> 情感倾向比例
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- 引入 echarts.js -->
                        <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                        <div id="main" style="width: 600px;height:400px;"></div>
                        <script type="text/javascript">
                            // 基于准备好的dom，初始化echarts实例
                            var myChart = echarts.init(document.getElementById('main'));

                            // 指定图表的配置项和数据
                            var option = {
                                backgroundColor: '#2c343c',

                                title: {
                                    text: '情感倾向分析',
                                    left: 'center',
                                    top: 20,
                                    textStyle: {
                                        color: '#ccc'
                                    }
                                },

                                tooltip: {
                                    trigger: 'item',
                                    formatter: '{a} <br/>{b} : {c} ({d}%)'
                                },

                                visualMap: {
                                    show: false,
                                    min: 0,
                                    max: 300,
                                    inRange: {
                                        colorLightness: [0, 1]
                                    }
                                },
                                series: [
                                    {
                                        name: '情感正向/负向',
                                        type: 'pie',
                                        radius: '55%',
                                        center: ['50%', '50%'],
                                        data: [
                                            {value: {{pos}}, name: '正向'},
                                            {value: {{neg}}, name: '负向'},
                                        ].sort(function (a, b) { return a.value - b.value; }),
                                        roseType: 'radius',
                                        label: {
                                            color: 'rgba(255, 255, 255, 0.3)'
                                        },
                                        labelLine: {
                                            lineStyle: {
                                                color: 'rgba(255, 255, 255, 0.3)'
                                            },
                                            smooth: 0.2,
                                            length: 10,
                                            length2: 20
                                        },
                                        itemStyle: {
                                            color: '#c23531',
                                            shadowBlur: 200,
                                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                                        },

                                        animationType: 'scale',
                                        animationEasing: 'elasticOut',
                                        animationDelay: function (idx) {
                                            return Math.random() * 200;
                                        }
                                    }
                                ]
                            };
                            // 使用刚指定的配置项和数据显示图表。
                            myChart.setOption(option);
                        </script>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.col-lg-4 (nested) -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-8 -->
</div>
<!-- /.row -->{% endblock %}

